<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Streaming Reserves</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="jwplayer/jwplayer.js"></script>
    <script>jwplayer.key = "UsAbh+H0EIus1QAay94tDANQsnbPuE3wRYonzXdAwok=";</script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
      @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    </style>
    <meta charset="utf-8">
    <title>Index Welcome // Blacklight</title>
    <link rel="stylesheet" media="screen" href="css/application-096445a1727ec2e553d825578551bfd3ce197a995c9cd7b5.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='css/main.css'>
</head>
<body class="ng-scope">
  <header id="banner" role="banner">
    <hgroup>
      <div id="brand-bar-wrapper">
        <div class="container">
          <div id="brand-bar" class="row">
            <div id="university" class="university col-md-6">
              <h3>
                <a href="#" tabindex="-1">
                  <img alt="Washington University in St. Louis" src="img/wustl-4-color-rev-shield-10e4f3d11d829fc3609da279e5433a53e80.svg">
                </a>
              </h3>
            </div>
            <div id="division" class="division col-md-6">
              <h2>
                <a href="#" tabindex="-1">
                  Streaming Reserves
                </a>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div id="product-bar-wrapper">
        <div class="container">
          <div id="product-bar" class="row">
              <a href="http://hydraprod.wulib.wustl.edu/">University Libraries</a>
          </div>
        </div>
      </div>
      <div id="title-bar-wrapper">
        <div class="container">
          <div id="title-bar" class="row">
          </div>
        </div>
      </div>
    </hgroup>
  </header>
  {{{body}}}
  <footer id="footer" class="container-fluid">
    <div id="footer-top-wrapper">
      <div id="footer-top" class="row">
        <div class="col-md-3">
          <h3>University Libraries</h3>
            <p>
              <span>Campus Box 1061</span>
              <br>
              <span>One Brookings Dr.</span>
              <br>
              <span>St. Louis, MO 63130</span>
              <br>
              <a href="mailto:library.webmaster@wumail.wustl.edu">Contact Us</a>
            </p>
            <div class="social">
              <a class="fa-icon" href="https://www.facebook.com/WUSTLlibraries" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
                <span class="screenreader-fallback-text">Share on Facebook</span>
              </a>
              <a class="fa-icon" href="http://twitter.com/WUSTLlibraries" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
                <span class="screenreader-fallback-text">Share on Twitter</span>
              </a>
              <a class="fa-icon" href="https://www.youtube.com/user/WUSTLibrarian/feed" data-original-title="YouTube">
                <i class="fa fa-youtube"></i>
                <span class="screenreader-fallback-text">Share on Youtube</span>
              </a>
              <a class="fa-icon" href="http://library.wustl.edu/feed/rss/" data-original-title="RSS">
                <i class="fa fa-rss"></i>
                <span class="screenreader-fallback-text">Get RSS feed</span>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <h3>Popular Links</h3>
            <ul>
              <li><a href="http://spokane.wustl.edu/patroninfo">My Catalog</a></li>
              <li><a href="http://library.wustl.edu/services/ill/">Interlibrary Loan</a></li>
              <li><a href="http://library.wustl.edu/research-instruction/subjectlibrarians/">Subject Librarians</a></li>
              <li><a href="http://library.wustl.edu/services/circ/reservegroupstudy/">Reserve a Group Study Room</a></li>
              <li><a href="http://library.wustl.edu/services/reserve/">Reserves</a></li>
              <li><a href="http://library.wustl.edu/jobs/">Employment</a></li>
              <li><a href="http://library.wustl.edu/services/forms/comments/">Comments</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Give to the Libraries</h3>
            <a href="https://gifts.wustl.edu/GiftForm.aspx?brd=Libraries">
              <img src="img/CAM_Horz_CMYKplusCustRed_solid_pos.png" alt="" style="background:#fff; padding:5px">
            </a>
          </div>
        </div>
      </div>
    <div id="footer-bottom-wrapper">
      <div id="footer-bottom" class="row">
        <div class="col-md-6 copyright">©2016 Washington University in St. Louis</div>
        <div class="col-md-6 back-to-top">
          <a href="#" class="back-to-top">Back to Top</a>
          <a class="fa-icon" href="#" data-original-title="top">
            <i class="fa fa-chevron-up"></i>
            <span class="screenreader-fallback-text">Go to top</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal menu" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
</body>
</html>