<div class="container">
  <div class="row">
    <h1>{{title}}</h1>
    <br>
    <p>
      <div id="player"></div>
      <script>
        jwplayer("player").setup({
          playlist: [{
                   sources: [{
                    file: "rtmp://128.252.67.12:1935/reserves/mp4:{{itemID}}.mp4"
                },{
                    file: "http://128.252.67.12:1935/reserves/mp4:{{itemID}}.mp4/playlist.m3u8"
                }],
                mediaid: "{{mediaID}}"
          }],
          rtmp: {
             bufferlength: 3
          },
          fallback: true
        });
      </script>
    </p>
  </div>
</div>
