<div class="upload-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="message-bar text-center" id="error-bar"></div>
            <div class="message-bar text-center" id="success-bar"> Done </div>
          </div>
          <span class="fa fa-cloud-upload fa-4x"></span>
          <h2>Upload Video</h2>
          <div class="progress">
            <div class="progress-bar" role="progressbar"></div>
          </div>
          <button class="btn btn-lg upload-btn" type="button">Upload File</button>
        </div>
      </div>
    </div>
  </div>
  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
</div>
