<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 padding-top-20">
      <a href="/logout" class="btn btn-default pull-right"> Logout </a>
    </div>
  </div>
  <div class="row big-padding">
    <div class="col-xs-6">
      <a href="/videos/upload" class="btn btn-default full-width"> Upload Video </a>
    </div>
    <div class="col-xs-6">
      <a href="/videos/list" class="btn btn-default full-width"> List Videos </a>
    </div>
  </div>
</div>
