<div class="container">
  <div class="row big-padding">
    <div class="col-xs-6">
      <a href="/videos/upload" class="btn btn-default full-width"> Upload Video </a>
    </div>
    <div class="col-xs-6">
      <a href="/videos/list" class="btn btn-default full-width"> List Videos </a>
    </div>
  </div>
</div>